.list {
  min-width: 16rem;
  border: 2px solid green;
  border-radius: 5px;
  margin: 1.5rem;
  min-height: 20%;
  display: flex;
  padding: 0.5rem;
  flex-direction: column;
  justify-content: flex-start;
  background-image: url("../../../public/bg.jpg");
  background-size: cover;
}
