.board {
  width: 17rem;
  height: 8rem;
  border: 2px solid blue;
  margin: 2rem 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: navy;
  border-radius: 0.5rem;
  background-image: url("../../../public/windows.jpg");
  background-size: cover;
}
