body {
  margin: 0;
  font-family: "Nunito Sans", sans-serif;
  font-family: "Public Sans", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.root {
  font-family: "Nunito Sans", sans-serif;
}
